<div class='client-list'>
  <div class='row client-list-body'>

    <!-- Add New Client Button--> 
    <div onclick="showAddClientForm()" class="card shadow-sm new">
      <strong class='new-text'>
        <i class="bi bi-plus-square-fill" style="font-size: 2rem;"></i>
      </strong>
    </div>

    <% if (clients.length === 0) { %>
      <h2 class="no-client-title" style='width: auto; padding-top: 30px;'>No client(s) found.</h2>
    <% } %>

    <!-- List of Clients -->
    <% for (client of clients) { %>
      <div id='<%=client._id%>' onclick="showClientsContacts('<%=client._id%>', '<%= client.name %>', '<%= JSON.stringify(client.contacts) %>')" class="card shadow-sm">
        <strong><%= client.name %></strong>
        <hr/>
        <small>Code: <%= client.code %></small>
        <small>Contacts: 
          <span id="client-contact-count-<%= client._id %>"><%= client.contacts.length %></span>
        </small>
      </div>
    <% } %>
  </div>
</div>
  
<!-- Display contacts on Client card click -->
<div class='card client-contacts shadow-sm'>
  <div class="card-header">
    <small class='client-contacts-title'>Loading...</small>
    <button onclick='closeClientSideBar()' type="button" class="btn close-btn" aria-label="Close">&#x2715;</button>
  </div>
  <%- include('contacts'); %>
</div>

<!-- Display new client form -->
<div class='card client-add shadow-sm'>
  <div class="card-header">
    <small>New Client</small>
    <button onclick='closeClientSideBar()' type="button" class="btn close-btn" aria-label="Close">&#x2715;</button>
  </div>
  <%- include('new'); %>
</div>
