<div class='contact-list'>
  <div class='row' style='margin-top: 27px;'>

    <div class='col align-self-end'>
      <!-- Add New Client Button--> 
      <button onclick="showAddContactForm('<%= JSON.stringify(clients) %>')" class="btn btn-lg btn-new-contact">
        <i class="bi bi-plus-square-fill" style="color: white;"></i> New Contact
      </button>
    </div>

    <!-- List of Clients -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Firstname</th>
          <th scope="col">Surname</th>
          <th scope="col">Email</th>
          <th style='text-align: center;' scope="col">Clients</th>
        </tr>
      </thead>
      <tbody>
        <% for (contact of contacts) { %>
          <tr id='<%=contact._id%>' onclick="showContactsClients('<%=contact._id%>', '<%= contact.firstname %>', '<%= JSON.stringify(contact.clients) %>')">
            <td><%= contact.firstname %></td>
            <td><%= contact.surname %></td>
            <td><%= contact.email %></td>
            <td style='text-align: center;'><%= contact.clients.length %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    
  </div>
</div>
  
<!-- Display clients on Contact row click -->
<div class='card contact-clients shadow-sm'>
  <div class="card-header">
    <small class='contact-clients-title'>Axel Mukwena has 0 Clients</small>
    <button onclick='closeContactSideBar()' type="button" class="btn close-btn" aria-label="Close">&#x2715;</button>
  </div>
  <%- include('clients'); %>
</div>

<!-- Display new contacts form -->
<div class='card contact-add shadow-sm'>
  <div class="card-header">
    <small>New Contact</small>
    <button onclick='closeContactSideBar()' type="button" class="btn close-btn" aria-label="Close">&#x2715;</button>
  </div>
  <%- include('new'); %>
</div>
